.parallax img{
  max-width: 100%;
  height: auto;
}

.parallax-container {
  height: 657px;
}

.header-section {
  margin-top: -64px;
}

.header-content {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.header-divider{
  width: 600px;
}
.lead{
  font-size: 25px;
  font-weight: 100 !important;
}

.name{
  font-weight: 600 !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: #FFFFFF;
  display: inline-block;
}

.black{
  background: #283149!important;
}

