<div class="navbar-fixed">
  <nav id=nav class="transparent z-depth-0">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo logo-padding">
        <h5><strong>VLarz</strong></h5>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="mdi mdi-menu icon-black"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><strong>PROFILE</strong></a></li>
        <li><a href="sass.html"><strong>SKILLS</strong></a></li>
        <li><a href="badges.html"><strong>EXPERIENCE</strong></a></li>
        <li><a href="collapsible.html"><strong>PROJECTS</strong></a></li>
        <li><a href="mobile.html"><strong>OTHERS</strong></a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
</div>

<div class="header-section">
  <div class="parallax-container">
    <div class="parallax"><img src="../../assets/images/header.jpg"></div>
    <div class="header-content container center">
      <h1 class="center white-text name">Vhen Larson Dela Cuesta</h1>
      <p class="center white-text no-margin-top lead">Personal Portfolio</p>
    </div>
  </div>

</div>

