<footer id="contact" class="page-footer margin-top-small">
  <div class="container">
    <h2 class="section-header center white-text">Contact</h2>
    <p class="center section-sub no-margin-btm gray-text">"Don't give up, don't be forgotten."</p>
    <p class="center section-sub no-margin-top gray-text margin-btm-large">- Andy Black</p>
    <div class="gray-divider margin-btm-large"></div>
    <div class="row">
      <div data-aos="zoom-in" data-aos-offset="300">
        <div class="col s2 m1 push-m1 center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="44"
            height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" />
          </svg>
        </div>
        <div class="col s4 m5 push-m1">
          <a target="_blank" href="https://twitter.com/VLarz13" class="white-text">
            <p>Twitter</p>
          </a>
        </div>
      </div>
      <div data-aos="zoom-in" data-aos-delay="200" data-aos-offset="300">
        <div class="col s2 m1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44"
            height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="4" y="4" width="16" height="16" rx="4" />
            <circle cx="12" cy="12" r="3" />
            <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
          </svg>
        </div>
        <div class="col s4 m4">
          <a target="_blank" href="https://www.instagram.com/vlarz13/" class="white-text">
            <p>Instagram</p>
          </a>
        </div>
      </div>
    </div>


    <div class="row">
      <div data-aos="zoom-in" data-aos-delay="300" data-aos-offset="200">
        <div class="col s2 m1 push-m1 center">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44"
            height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </div>
        <div class="col s4 m5 push-m1">
          <a target="_blank" href="https://www.facebook.com/VLarz/" class="white-text">
            <p>Facebook</p>
          </a>
        </div>
      </div>
      <div data-aos="zoom-in" data-aos-delay="400"  data-aos-offset="200">
        <div class="col s2 m1">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="44" height="44"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
            <path d="M15 7a2 2 0 0 1 2 2" />
            <path d="M15 3a6 6 0 0 1 6 6" />
          </svg>
        </div>
        <div class="col s3 m4">
          <p>+63 9959737347</p>
        </div>
      </div>
    </div>
    <div class="row margin-btm-large" data-aos="zoom-in" data-aos-delay="500"  data-aos-offset="150">
      <div class="col s2 m1 push-m1 center">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="44" height="44"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <rect x="3" y="5" width="18" height="14" rx="2" />
          <polyline points="3 7 12 13 21 7" />
        </svg>
      </div>
      <div class="col s4 m5 push-m1">
        <p>vhenlarsondelacuesta.1398@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020 VLarz
    </div>
  </div>
</footer>
