.page-footer {
  background-color: #283149;
}

.gray-text{
  color: #bdbdbd  !important;
}

.gray-divider {
  height: 1px;
  overflow: hidden;
  opacity: 0.2;
  background-color: #bdbdbd ;
}

.collection .collection-item {
  background-color: transparent;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: transparent;
}

.collection {
  margin: .5rem 0 1rem 0;
  border: transparent;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.collection a.collection-item {
  display: block;
  transition: .25s;
  color: #FFFFFF;
  opacity: 0.5;
}

.icon{
  height: 50px !important;
  width: 50px !important;
}

.footer-margin{
  margin-bottom: 28px !important;
}
