<section id="contact">
    <div class="container">
        <div class="contact flex justify-center items-center flex-col gap-8">
            <h1 class="text-4xl font-bold text-center text-white leading-normal">
                I’m Available <br />
                for Freelancing
            </h1>
            <div class="flex gap-4 flex-col items-center">
                <div class="flex items-center gap-2 text-white">
                    <img src="assets/images/home/contact/email.svg" alt="email icon" />
                    vhenlarsondelacuesta.1398@gmail.com
                </div>
                <div class="flex items-center gap-2 text-white">
                    <img src="assets/images/home/contact/phone.svg" alt="phone icon" /> +63 995 973 7347
                </div>
            </div>
        </div>
    </div>
</section>
