<div class="navbar-fixed">
  <nav id=nav class="transparent z-depth-0">
    <div class="nav-wrapper container">
      <a pageScroll href="#header" class="brand-logo logo-padding">
        <h5><strong>VLarz</strong></h5>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="mdi mdi-menu icon-black"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a pageScroll href="#profile"><strong>PROFILE</strong></a></li>
        <li><a pageScroll href="#experiences"><strong>EXPERIENCES</strong></a></li>
        <li><a pageScroll href="#skills"><strong>SKILLS</strong></a></li>
        <li><a pageScroll href="#projects"><strong>PROJECTS</strong></a></li>
        <li><a pageScroll href="#contact"><strong>CONTACT</strong></a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a pageScroll href="#profile" class="sidenav-close"><strong>PROFILE</strong></a></li>
  <li><a pageScroll href="#experiences" class="sidenav-close"><strong>EXPERIENCES</strong></a></li>
  <li><a pageScroll href="#skills" class="sidenav-close"><strong>SKILLS</strong></a></li>
  <li><a pageScroll href="#projects" class="sidenav-close"><strong>PROJECTS</strong></a></li>
  <li><a pageScroll href="#contact" class="sidenav-close"><strong>CONTACT</strong></a></li>
</ul>

<div id="header" class="header-section">
  <div class="parallax-container">
    <div class="parallax"><img src="assets/images/header.jpg"></div>
    <div class="header-content container center">
      <h1 class="center white-text name">Vhen Larson Dela Cuesta</h1>
      <p class="center white-text no-margin-top lead">Personal Portfolio</p>
    </div>
  </div>
</div>

