<div id="experiences" class="section gray-background">
  <div class="container">
    <h2 class="section-header center">Experiences</h2>
    <p class="center section-sub no-margin-btm">"Protons give an atom its identity, electrons its personality."</p>
    <p class="center section-sub no-margin-top">"- Bill Bryson, A short history of nearly everything
      "</p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12">
        <h3 class="blue-title">Careers</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <h4 class="experience-company no-margin-top">Calamba Doctors' College</h4>
        <p>January 2020 - March 2020</p>
      </div>
      <div class="col s12 m8">
        <strong class="title-sub">Web Developer (Internship)</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus diam et ultricies scelerisque. Quisque scelerisque risus diam, quis porttitor eros imperdiet nec. Nunc neque nisl, congue vitae pretium et, volutpat eget neque. Morbi non lectus auctor ipsum ultrices ornare.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <h4 class="experience-company no-margin-top">Dmay Net And Gaming</h4>
        <p>October 2007 - Present</p>
      </div>
      <div class="col s12 m8">
        <strong class="title-sub">Computer Technician (Family Business)</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus diam et ultricies scelerisque. Quisque scelerisque risus diam, quis porttitor eros imperdiet nec. Nunc neque nisl, congue vitae pretium et, volutpat eget neque. Morbi non lectus auctor ipsum ultrices ornare.</p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12">
        <h3 class="blue-title">Educations</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <h4 class="experience-company no-margin-top">STI Calamba College</h4>
        <p>2016 - 2020</p>
      </div>
      <div class="col s12 m8">
        <strong class="title-sub">Bachelor of Science in Information Technology</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus diam et ultricies scelerisque. Quisque scelerisque risus diam, quis porttitor eros imperdiet nec. Nunc neque nisl, congue vitae pretium et, volutpat eget neque. Morbi non lectus auctor ipsum ultrices ornare.</p>
      </div>
    </div>
  </div>
</div>
