<section class="hero-banner flex p-0">
    <div class="container">
        <div class="flex flex-col h-full py-16">
            <div class="flex flex-col gap-6 mt-auto">
                <span class="text-3xl text-white">Hello, I'm</span>
                <h1 class="text-6xl font-bold text-white">Vhen Larson Dela Cuesta</h1>
                <div class="flex gap-4">
                    <div class="flex w-1 bg-white"></div>
                    <div class="flex flex-col gap-4">
                        <h2 class="text-4xl font-normal text-white">Front-End Web Developer</h2>
                        <h2 class="text-4xl font-normal text-white">UI/UX Designer</h2>
                    </div>
                </div>
                <a
                    href="assets/file/DELA CUESTA, VHEN LARSON A. - RESUME.pdf"
                    class="outline-button self-start !border-white !text-white"
                    download
                    >Download Resume</a
                >
            </div>
            <div class="flex items-center justify-between mt-auto">
                <div class="flex gap-3">
                    <a href="https://www.facebook.com/VLarz/" target="_blank"
                        ><img
                            src="assets/images/home/hero-banner/facebook.svg"
                            class="h-12 w-12 hover-animation"
                            alt="Facebook icon"
                    /></a>
                    <a href="https://www.linkedin.com/in/vlarz/" target="_blank"
                        ><img
                            src="assets/images/home/hero-banner/linkedin.svg"
                            class="h-12 w-12 hover-animation"
                            alt="LinkedIn icon"
                    /></a>
                    <a href="https://github.com/vlarz" target="_blank"
                        ><img
                            src="assets/images/home/hero-banner/github.svg"
                            class="h-12 w-12 hover-animation"
                            alt="Github icon"
                    /></a>
                </div>
                <div class="flex flex-col text-right">
                    <h1 class="text-8xl font-bold text-white animate-count" id="projectCompleted"></h1>
                    <span class="text-white text-lg">Handled Projects</span>
                </div>
            </div>
        </div>
    </div>
</section>
