.hero-banner {
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('/assets/images/home/hero-banner/laguna-mountain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// @property --num {
//     syntax: '<integer>';
//     initial-value: 0;
//     inherits: false;
// }

// .animate-count {
//     animation: counter 2s ease-in-out;
//     counter-reset: num var(--num);
// }
// .animate-count::after {
//     content: counter(num);
// }

// @keyframes counter {
//     from {
//         --num: 0;
//     }
//     to {
//         --num: 24;
//     }
// }
