.hero-banner {
    @apply h-[100vh] xl:h-[80vh];
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('assets/images/home/hero-banner/laguna-mountain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
