<div id="projects" class="section gray-background">
  <div class="container">
    <h2 class="section-header center">Projects</h2>
    <p class="center section-sub no-margin-btm">"Expect the best, plan for the worst, and prepare to be surprised."</p>
    <p class="center section-sub no-margin-top"> - Denis Waitley </p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m6" data-aos="flip-up" data-aos-offset="350" *ngFor="let project of projects">
        <div class="card">
          <div class="card-image">
            <div class="carousel carousel-slider">
              <a class="carousel-item" *ngFor="let img of project.images;">
                <img src="{{ img }}">
              </a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">{{ project.title }}</span>
            <p><a target="_blank" href="{{ project.url }}"><i class="mdi mdi-github"></i>
                Link</a></p>
          </div>
        </div>
      </div>
      <!-- <div class="col s12 m6" data-aos="flip-up" data-aos-delay="200" data-aos-offset="350">
        <div class="card">
          <div class="card-image">
            <div class="carousel carousel-slider">
              <a class="carousel-item"><img src="assets/images/projects/project2-1.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project2-2.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project2-3.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project2-4.jpg"></a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">Calamba Doctors' College</span>
            <p><a target="_blank" href="https://github.com/VLarz/Calamba-Doctors-College"><i class="mdi mdi-github"></i>
                Link</a></p>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col s12 m6" data-aos="flip-up" data-aos-offset="300">
        <div class="card">
          <div class="card-image">
            <div class="carousel carousel-slider">
              <a class="carousel-item"><img src="assets/images/projects/project3-1.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project3-2.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project3-3.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project3-4.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project3-5.jpg"></a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">Sales & Inventory System</span>
            <p><a target="_blank" href="https://github.com/VLarz/sales-and-inventory-system"><i
                  class="mdi mdi-github"></i> Link</a></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6" data-aos="flip-up" data-aos-delay="200" data-aos-offset="300">
        <div class="card">
          <div class="card-image">
            <div class="carousel carousel-slider">
              <a class="carousel-item"><img src="assets/images/projects/project4-1.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project4-2.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project4-3.jpg"></a>
              <a class="carousel-item"><img src="assets/images/projects/project4-4.jpg"></a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">Payroll System</span>
            <p><a target="_blank" href="https://github.com/VLarz/payroll-system"><i class="mdi mdi-github"></i> Link</a>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
