<nav class="fixed top-0 w-full p-8 transition" id="navbar">
    <div class="container flex justify-between items-center">
        <a href="" class="text-3xl font-bold font-sans text-white menu-text">VLarz</a>
        <div class="flex gap-8">
            <a href="#about" class="text-white font-medium menu-text hover-underline-animation after:bg-white">About</a>
            <a href="#experience" class="text-white font-medium menu-text hover-underline-animation after:bg-white"
                >Experience</a
            >
            <a href="#skills" class="text-white font-medium menu-text hover-underline-animation after:bg-white"
                >Skills</a
            >
            <a href="#projects" class="text-white font-medium menu-text hover-underline-animation after:bg-white"
                >Projects</a
            >
            <a href="#contact" class="text-white font-medium menu-text hover-underline-animation after:bg-white"
                >Contact</a
            >
        </div>
    </div>
</nav>
