.hover-underline-animation {
    display: inline-block;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -6px;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
