<div id="experiences" class="section gray-background">
  <div class="container">
    <h2 class="section-header center">Experiences</h2>
    <p class="center section-sub no-margin-btm">“We learn from failure, not from success!”</p>
    <p class="center section-sub no-margin-top"> - Bram Stoker, Dracula</p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12">
        <h3 class="blue-title">Careers</h3>
      </div>
    </div>
    <div class="row" data-aos="fade-right" *ngFor="let career of careers">
      <div class="col s12 m4">
        <h4 class="experience-company no-margin-top">{{ career?.companyName }}</h4>
        <p> {{ career?.date }}</p>
      </div>
      <div class="col s12 m8">
        <strong class="title-sub">{{ career?.position }}</strong>
        <p> {{ career?.description }}</p>
      </div>
    </div>
    <div data-aos="fade-right">
      <div class="divider"></div>
      <div class="row">
        <div class="col s12 m12">
          <h3 class="blue-title">Education</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <h4 class="experience-company no-margin-top">{{ education?.schoolName }}</h4>
          <p>{{ education?.date }}</p>
        </div>
        <div class="col s12 m8">
          <strong class="title-sub">{{ education?.course }}</strong>
          <p>{{ education?.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
