<div id="profile" class="section">
  <div class="container margin-btm-medium">
    <h2 class="section-header center">Profile</h2>
    <p class="center section-sub"> </p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m4" data-aos="flip-left">
        <h3 class="blue-title">About me</h3>
        <p>{{profile?.about}}</p>
      </div>
      <div class="col s12 m4" data-aos="flip-left" data-aos-delay="200">
        <img src="{{ profile?.image }}" alt="Primary" class="valign center-block circle profile-picture">
      </div>
      <div class="col s12 m4" data-aos="flip-left" data-aos-delay="400">
        <h3 class="blue-title ">Details</h3>
        <strong class="black-text title-sub">Name:</strong>
        <p class="black-text no-margin-top">{{ profile?.name }}</p>
        <strong class="black-text title-sub">Age:</strong>
        <p class="black-text no-margin-top">{{ profile?.age }}</p>
        <strong class="black-text title-sub">Location:</strong>
        <p class="black-text no-margin-top">{{ profile?.location }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <a target="_blank" href="{{ getProfileUrl('linkedIn') }}" class="btn"><i class="mdi mdi-linkedin"></i>
          LINKEDIN</a>
        <a target="_blank" href="{{ getProfileUrl('gDrive') }}" class="btn"><i class="mdi mdi-file-account"></i>
          RESUME</a>
      </div>
    </div>
  </div>
</div>
