.profile-picture {
  border: 5px solid #fff;
  width: 250px;
  border-style: solid;
  border-color: #F8F8F8;
  border-width: 12px;
}

.btn, .btn-large, .btn-small {
    color: #fff;
    background-color: #0060EE;
    text-align: center;
    margin-right: 10px;
}
