<div class="section">
  <div class="container margin-btm-medium">
    <h2 class="section-header center">Profile</h2>
    <p class="center section-sub">I'm a Front-End Web Developer</p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m4">
        <h3 class="blue-title">About me</h3>
        <p>Hello, I'm Vhen Larson Dela Cuesta
          and I am thefastest man alive. To the outside world, I am an ordinary forensic scientist,
          but secretly with the help of my friends in S.T.A.R. Labs, I fight crime and find other meta-humans like me.
        </p>
      </div>
      <div class="col s12 m4">
        <img src="assets/images/profile-picture.jpg" alt="Primary" class="valign center-block circle profile-picture">
      </div>
      <div class="col s12 m4">
        <h3 class="blue-title ">Details</h3>
        <strong class="black-text title-sub">Name:</strong>
        <p class="black-text no-margin-top">Vhen Larson Dela CuestaVhen Larson Dela CuestaVhen Larson Dela CuestaVhen Larson Dela CuestaVhen Larson Dela Cuesta</p>
        <strong class="black-text title-sub">Age:</strong>
        <p class="black-text no-margin-top">22 years old</p>
        <strong class="black-text title-sub">Location:</strong>
        <p class="black-text no-margin-top">Calamba City, Laguna</p>
      </div>
    </div>
  </div>
</div>
