<div id="skills" class="section">
  <div class="container">
    <h2 class="section-header center">Skills</h2>
    <p class="center section-sub no-margin-btm">“Every artist was first an amateur.”</p>
    <p class="center section-sub no-margin-top"> - Ralph Waldo Emerson"</p>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m4" data-aos="zoom-in" *ngFor="let skill of skills">
        <h3 class="blue-title center">{{ skill?.name }}</h3>
        <img src="{{ skill?.image }}" alt="Primary" class="valign center-block profile-picture margin-btm-small">
        <div class="col s12 no-padding center">
          <div class="blue-chip" *ngFor="let set of skill.sets"> {{ set }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <p class="project-referal">You can view my projects here.</p>
        <a target="_blank" href="{{ getProfileUrl('github') }}" class="btn">See projects on GitHub</a>
      </div>
    </div>
  </div>
</div>
