body {
  font-family: "Open Sans", Sans-Serif;
}

.no-margin {
  margin: 0px !important;
}

.no-margin-btm {
  margin-bottom: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.margin-btm-small{
  margin-bottom: 15px;
}

.margin-btm-medium{
  margin-bottom: 35px;
}

.section-header {
  color: #0060EE;
  font-weight: 300;
}

.section-sub {
  font-size: 20px;
  font-weight: 100 !important;
  color: #283149;
}

.blue-title {
  color: #0060EE;
  font-weight: 300;
  font-size: 28px;
}

.title-sub {
  color: #283149;
  font-weight: bolder;
}

.divider {
  margin-bottom: 20px;
}

.blue-text {
  color: #0060EE !important;
}

.black-text {
  color: #283149 !important;
}

.background-gray{
  background: rgb(243, 239, 224);
}
