<section id="projects">
    <div class="container">
        <div class="flex flex-col mb-24">
            <div class="flex flex-col items-center">
                <h1 class="section-title">My <span class="text-primary">Projects</span></h1>
                <div class="section-divider items-center after:bg-black before:bg-black"></div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-y-16 gap-x-16">
            <div
                class="flex flex-col rounded-md card-shadow overflow-hidden h-full"
                *ngFor="let project of myProjects | slice : 0 : showLimit; let i = index"
            >
                <img
                    src="assets/images/my-projects/{{ project?.image }}"
                    class="h-64 sm:h-96 object-cover {{ project?.imagePosition }}"
                    alt="{{ project?.title }}"
                />
                <div class="flex flex-col gap-4 p-8">
                    <h1 class="text-xl font-bold">{{ project?.title }}</h1>
                    <div class="flex gap-4">
                        <a
                            href="{{ link?.url }}"
                            target="_blank"
                            class="text-primary hover:underline"
                            *ngFor="let link of project?.links"
                            >{{ link?.text }}</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-16" #viewMore>
            <button class="outline-button" (click)="showAllProjects(); viewMore.classList.add('!hidden')">
                View More
            </button>
        </div>
    </div>
</section>
